body {
    background-color: #cccccc;
    font-family: 'Gill Sans std', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-image: url("img/pattern.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center; */
}

#caja {
    border: 2px solid black;
    padding: 10px;
    background: #FF043F;
    color: #460546;
    text-align: center;
    line-height: 1.5;;
}
h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: #331d28;
    background: #00FF00;
}
p{
    color: white;
    text-indent: 20px;
}