/*
Ejercicio completo con HTML y CSS
(HECHO) 1.  Crear un documento HTML y vincularlo con un CSS
(HECHO) 2.  Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA, MENU, BARRA LATERAL, SECCION DE CONTENIDO, SECCION DE CONTENIDO PRINCIPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL, Y FOOTER
(HECHO) 3.  Todo el contenido tiene que estar dentro del contenedor general y su ancho será de 1200px y estar centrado.
(HECHO) 4.  El header debe ocupar el 100% del ancho y tener un texto grande centrado.
(HECHO) 5.  El menú debe tener los elementos uno al lado del otro.
(HECHO) 6.  El contenido principal debe tener un ancho del 70%
(HECHO) 7.  El contenido dentro del contenedor principal debe ser una cuadrícula con 4 lineas de 2 cajas.
(HECHO) 8.  La barra lateral debe tener um ancho del 30%.
(HECHO) 9.  El footer debe tener un ancho del 100% del div que lo contiene y estar abajo de todo.

### COLORES 500px ###
Blue - #0099e5
Red - #ff4c4c
Green - #34bf49
*/
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'HK Grotesk', Tahoma, Geneva, Verdana, sans-serif;
}

#general{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 1px solid #ccc; */
}

#header{
    width: 100%;
    height: 100px;
    background-color: #ff4c4c;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{
    background-color: #eeeeee;
}

#menu ul li{
    /* display: inline-block; */
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    font-weight: 400;
}

#menu ul li:hover{
    background-color: #0099e5;
    cursor: pointer;
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #686868;
}

#menu ul li:hover a{
    color: #fff;
}

#contenido{
    width: 70%;
    /* border: 1px solid greenyellow; */
    float: left;
}

#lateral{
    width: 30%;
    /* border: 1px solid green; */
    float: left;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    background-color: #0099e5;
    overflow-y: scroll;
}

#lateral h2{
    color: #eeeeee;
}

#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: #ff4c4c;
    text-shadow: 1px 1px 2px #b1b1b1;
}

#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid #0099e5;
    color: #686868;
    float: left;
    margin: 20px;
    margin-left: 50px;
    text-align: center;
    line-height: 240px;
    box-shadow:  3px 3px 7px #cfcfcf;
    border-radius: 30px 0px 30px 0px;
}

.sombra-interior{
    box-shadow: 0px 0px 7px #686868 inset !important;
}

#footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eeeeee;
    text-align: center;
    color: #686868;
    border-top: 1px solid #ccc;
}