/*
Ejercicio completo con HTML y CSS
(HECHO) 1.  Crear un documento HTML y vincularlo con un CSS
(HECHO) 2.  Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA, MENU, BARRA LATERAL, SECCION DE CONTENIDO, SECCION DE CONTENIDO PRINCIPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL, Y FOOTER
(HECHO) 3.  Todo el contenido tiene que estar dentro del contenedor general y su ancho será de 1200px y estar centrado.
4.  El header debe ocupar el 100% del ancho y tener un texto grande centrado.
5.  El menú debe tener los elementos uno al lado del otro.
6.  El contenido principal debe tener un ancho del 70%
7.  El contenido dentro del contenedor principal debe ser una cuadrícula con 4 lineas de 2 cajas.
8.  La barra lateral debe tener um ancho del 30%.
9.  El footer debe tener un ancho del 100% del div que lo contiene y estar abajo de todo.
*/
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#general{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
}