/*
##### SELECTORES #####
*/

/* ### SELECTOR UNIVERSAL: el asterisco ### */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ### SELECTOR DE ETIQUETA ### */
h1{
    background: #e4e932;
    padding: 50px;
    text-align: center;
}
a{
    font-size: 15px;
    font-weight: 300;
    color: #371777;
    text-decoration: none;
}

footer {
    text-align: center;
}

footer a{
    font-size: 16px;
    font-weight: 700;
    color: #371777;
    
}

/* ### SELECTOR DE ID ### */
/*Selector para un único elemento de la página*/

#descripcion { /*Si le ponemos "," podemos sumarle los estilos a otro selector*/
    border: 1px solid #ccc;
    padding: 20px 40px 20px 40px;
    margin: 20px;
}

/* ### SELECTOR DE CLASE ### */
/*Es igual que un selector id, pero para múltiples elementos*/

.parrafo {
    font-weight: 200;
    color: #7e7d7d;
    line-height: 1.3;
}

.cita {
    font-style: italic;
    margin: 0 20px 0 20px;
}

/* ### SELECTOR DE ATRIBUTO ### */

#usuario form {
    margin: 40px 20px;
}

#usuario form *{
    display: block;
    margin: 10px;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    width: 50%;
}

input[type="submit"] {
    background: #e4e932;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/*#### SELECTORES HIJO ####*/

#menu > li > a {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}

/*Prioridad*/

#saludo h1 {
    background: #511378;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
}

/* h1  {
    background: royalblue !important;
} */

/*-------------------------------/*